<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">


      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a href="/" class="nav-link px-2 text-white">Home</a>
        </li>
        <li>
          <a href="/upload" class="nav-link px-2 text-white">Upload</a>
        </li>
        <li>
          <a href="brick_list" class="nav-link px-2 text-white">List of bricks</a>
        </li>
      </ul>

      <form class="mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark" name='query' placeholder="Search NPU bricks" aria-label="Search">
      </form>

      <div class="text-end">
        {% if session %}
          <a type="button" href="/logout" id="qsLoginBtn" class="btn btn-warning">Logout</a>
        {% else %}
          <a type="button" href="/login" id="qsLoginBtn" class="btn btn-warning">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>