<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NPU Front end</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    {% include 'header.html' %}
    <div class="container container-custom" style="width: 42rem;">
      {% if message == "rating" %}
        <div class="alert alert-success" role="alert">
          Rating successful!
        </div>
      {% elif message == "rating_error"%}
        <div class="alert alert-warning" role="alert">
          You already rated for this creation!
        </div>
      {% elif message == "upload"%}
        <div class="alert alert-success" role="alert">
          Upload successful!
        </div>
      {% else %}
      {% endif %}

      {% for creation in creations %}

        <div class="card mx-auto" style="width: 40em; margin-top:2em;">
          <img src={{creation['file_url']} }="}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{creation['creation_name']}}</h5>
            <p class="card-text">{{creation['description']}}</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Bricks used:</h5>
            <p class="text-muted">
              {% for brick in creation['bricks'] %}
                {{brick}},
              {% endfor %}
            </p>
          </div>
          <div class="card-body">
            <form action="/rating">
              <input type="hidden" id="creation_id" name="creation_id" value="{{creation['creation_id']}}">
              <button type="submit" class="btn btn-primary">Ratings</button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>

  </body>

</html>
