<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NPU Front end</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    {% include 'header.html' %}
      <div class="container container-custom" style="max-width: 40em;">
        <div class="card mx-auto" style="margin-top:2em;">
        <img src={{creation_metadata['file_url']}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{creation_metadata['creation_name']}}</h5>
          <p class="card-text">{{creation_metadata['description']}}</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">NPU bricks used:</h5>
          <p class="text-muted">
            {% for brick in creation_metadata['bricks'] %}
              {{brick}},
            {% endfor %}
          </p>
          <h5 class="card-title">Current rating on this creation:</h5>

          <div class="row g-3">
            <div class="col">
              <label for="uniqueness_range" class="form-label">Current uniqueness:</label>
              <input type="text" readonly="readonly" class="form-control-plaintext" value="{{ratings_for_creation['uniqueness']}}">
            </div>
            <div class="col">
              <label for="creativity_range" class="form-label">Current creativity:</label>
              <input type="text" readonly="readonly" class="form-control-plaintext" value="{{ratings_for_creation['creativity']}}">
            </div>
          </div>

          {% if session %}
            <h5 class="card-title">Rate this creation:</h5>
            <form method="post" action="rating_success">
              <div class="row g-3">
                <div class="col">
                  <label for="uniqueness_range" class="form-label">Uniqueness:</label>
                  <input type="range" name="uniqueness_range" class="form-range" min="1" max="5" step="1" id="uniqueness_range">
                </div>
                <div class="col">
                  <label for="creativity_range" class="form-label">Creativity:</label>
                  <input type="range" class="form-range" min="1" max="5" step="1" name="creativity_range" id="creativity_range">
                </div>
              </div>

              <input type="hidden" id="creation_id" name="creation_id" value="{{creation_metadata['creation_id']}}">
              <button type="submit" class="btn btn-primary">Rate</button>
            </form>
          {% else %}
            <h5 class="card-title">Please login to be able to rate this creation!</h5>
          {% endif %}

        </div>
      </div>
    </div>

  </div>

</body>

</html>
